<div class="sidenav-container">
    <a class="sidenav-brand mb-3 mt-2 ps-4 fs-2" href="/">Cantus Ultimus</a>
    <div role="navigation">
        <ul class="nav flex-column">
            <% _.forEach(items, function(navLink) { %>
                <li class="nav-item">
                    <a class="nav-link ps-4" <%= serializeAttributes(navLink.attr) %>>
                        <%- navLink.content %>
                    </a>
                </li>
            <% }) %> 
        </ul>
    </div>
</div>