<div class="accordion-item m-1">
    <h4 class="accordion-header">
        <button data-bs-toggle="collapse"
                data-bs-target="#collapse-<%= item_id %>"
                class="accordion-button fw-lighter collapsed"
                type="button"
                aria-expanded="<%= isOpen() ? 'true' : 'false' %>"
                aria-controls="collapse-<%= item_id %>">
            <%= incipit %>
        </button>
    </h4>
    <div id="collapse-<%= item_id %>"
         class="accordion-collapse collapse <%= isOpen() ? 'show' : '' %>">
        <div class="accordion-body"></div>
    </div>
</div>
