<div class="row">
    <div class="col-xs-12 search-input-group">
        <div class="search-field-selector">
            <button type="button" id="searchFieldSelectorMenu" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="field-label"><%- activeField.name %></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="searchFieldSelectorMenu">
                <% _.forEach(searchProviders, function (provider, providerIndex) { %>
                    <li role="presentation" class="dropdown-header">
                        <%- provider.description %>
                    </li>
                    <% _.forEach(provider.fields, function (field, fieldIndex) { %>
                    <li>
                        <a href="#" class="dropdown-item" data-provider-index="<%= providerIndex %>" data-field-index="<%= fieldIndex %>">
                            <%- field.name %>
                        </a>
                    </li>
                    <% }); %>
                <% }); %>
            </ul>
        </div>
        <div class="search-field">
            <div class="search-input"></div>
            <div class="search-suggestions"></div>
        </div>
    </div>
</div>
<div class="search-helper"></div>
<div class="search-heading"></div>
<div class="search-results propagate-height"></div>
