{% extends "base.html" %}
{% block body %}
<head>
  <script type="text/javascript">
      $(document).ready(function() {
          $('#diva-wrapper').diva({
              enableAutoHeight: true,
              fixedHeightGrid: false,
              iipServerURL: "http://132.206.14.201:8001/fcgi-bin/iipserver.fcgi",
              objectData: "{{ STATIC_URL }}/st-gallen.json",
              imageDir: "/Users/weigao/Documents/development/diva.js/build/demo/images",
              
          });
      });
  </script>
</head>
<body>
    <div id="diva-wrapper"></div>
</body>
{% endblock %}