{% extends "base.html" %}

{% block document_title %}
    Cantus Ultimus {% if title %}— {{ title }}{% endif %}
{% endblock %}

{% spaceless %}
{% if title %}
    {% block breadcrumb %}
            {{ block.super }}
            <li class="breadcrumb-item d-flex align-items-center"><a class="navbar-brand me-1"> {{ title }} </a></li>
    {% endblock %}
    {% endif %}
{% endspaceless %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="h2">{{ title }}</h1>
                <div>{{ content|safe }}</div>
            </div>
        </div>
    </div>
{% endblock %}
