{% extends "base.html" %}
{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="h2">{{ title }}</h1>
                <div>{{ content|safe }}</div>
            </div>
        </div>
    </div>
    <script src="/static/js/app/cantus-static-min.js"></script>
    <style>
        div.logo_map {
            position: relative;
        }

        div.logo_map>img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        div.logo_map>a {
            display: block;
            position: absolute;
        }

        div.logo_map>a:hover {
            background-color: rgba(255, 0, 0, .0);
        }

        div.logo_map>a.simssa {
            top: 8%;
            left: 20%;
            width: 60%;
            height: 27%;
        }

        div.logo_map>a.sshrc {
            top: 33%;
            left: 20%;
            width: 60%;
            height: 20%;
        }

        div.logo_map>a.mcgill {
            top: 53%;
            left: 20%;
            width: 34%;
            height: 20%;
        }

        div.logo_map>a.ddmal {
            top: 53%;
            left: 54%;
            width: 26%;
            height: 20%;
        }

        div.logo_map>a.cirmmt {
            top: 73%;
            left: 20%;
            width: 34%;
            height: 23%;
        }

        div.logo_map>a.frqsc {
            top: 73%;
            left: 54%;
            width: 26%;
            height: 23%;
        }
    </style>
    <div class="logo_map">
        <img src="/static/img/all_logos_scaled.png"/ border="0" style="max-width:60%" />
        <a href="https://simssa.ca" target="_blank" class="simssa"></a>
        <a href="http://www.sshrc-crsh.gc.ca" target="_blank" class="sshrc"></a>
        <a href="https://www.mcgill.ca/music" target="_blank" class="mcgill"></a>
        <a href="http://ddmal.music.mcgill.ca/" target="_blank" class="ddmal"></a>
        <a href="http://www.cirmmt.org" target="_blank" class="cirmmt"></a>
        <a href="http://www.frqsc.gouv.qc.ca" target="_blank" class="frqsc"></a>
    </div>
    <!--
<div class="row text-center">
<img src="/static/img/all_logos.png" border="0" style="max-width:60%" />
</div>
-->
{% endblock %}
