__init__.pyc

*.pyc
*.swp

.DS_Store

/data

/.vagrant

/app/public/cantusdata/migrations/*

/public/cantusdata/static/js/
/public/cantusdata/static/css/
/public/data_dumps/mei_csv/

/public/app_env/*

*.sqlite3

IntelliJ Idea files
/.idea/*
*.iml

/public/media/*
/public/htmlcov/*
*.coverage

.env
