[submodule "app/cantus-staticpages"]
	path = app/cantus-staticpages
	url = https://github.com/DDMAL/cantus-staticpages
[submodule "app/production-mei-files"]
	path = app/production-mei-files
	url = https://github.com/DDMAL/production_mei_files.git
