__init__.pyc

*.pyc
*.swp

.DS_Store

/.vagrant

/public/cantusdata/migrations/*
/public/neumeeditor/migrations/*

/public/cantusdata/static/js/
/public/cantusdata/static/css/
/public/data_dumps/mei_csv/

/public/app_env/*
/public/gallen_mei_env/*

/public/cantus_env/*

*.sqlite3

IntelliJ Idea files
/.idea/*
*.iml

/public/media/*
/public/htmlcov/*
*.coverage
