version: '3.7'
services:
  app:
    build:
      context: .
      dockerfile: ./app/Dockerfile
      args:
        APP_PORT: ${PORT}
    container_name: cantus-app-1
    command: /code/django-config.sh
    volumes:
      - ./app/public:/code/public
      - django_static_volume:/code/static
    depends_on:
      postgres:
        condition: service_healthy
      solr:
        condition: service_started
    environment:
      - APP_VERSION=${APP_VERSION}
      - DEVELOPMENT=${DEVELOPMENT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - RABBIT_USER=${RABBIT_USER}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - RABBIT_VHOST=${RABBIT_VHOST}

  postgres:
    build: ./postgres
    container_name: cantus-postgres-1
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  nginx:
    container_name: cantus-nginx-1
    build: ./nginx
    ports:
      - "8000:8000"
    depends_on:
      - app
    volumes:
      - ./cantaloupe/interim_files/manifests:/code/manifests
      - django_static_volume:/code/static/django

  solr:
    build: ./solr
    container_name: cantus-solr-1
    ports:
      - "8983:8983"
    environment:
      - SOLR_SECURITY_MANAGER_ENABLED=false
    volumes:
      - solr_volume:/var/solr

  rabbitmq:
    build: ./rabbitmq
    container_name: cantus-rabbitmq-1
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBIT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBIT_PASSWORD}
      - RABBITMQ_DEFAULT_VHOST=${RABBIT_VHOST}
    ports:
      - "5672:5672"
    restart: always

  celery:
    image: cantus-app
    container_name: cantus-celery-1
    volumes:
      - ./app/public:/code/public
    command:
      [
        "/code/.venv/bin/python",
        "/code/.venv/bin/celery",
        "-A",
        "cantusdata",
        "worker",
        "-l",
        "INFO",
        "-c",
        "1"
      ]
    environment:
      - APP_VERSION=${APP_VERSION}
      - DEVELOPMENT=${DEVELOPMENT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - RABBIT_USER=${RABBIT_USER}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - RABBIT_VHOST=${RABBIT_VHOST}
    restart: always

  cantaloupe:
    build: ./cantaloupe
    container_name: cantus-cantaloupe-1
    volumes:
      - ./cantaloupe/interim_files/images:/srv/images
    command:
      [
        "java",
        "-Dcantaloupe.config=/etc/cantaloupe/cantaloupe.properties",
        "-Xmx2g",
        "-jar",
        "/opt/cantaloupe/cantaloupe-5.0.5/cantaloupe-5.0.5.jar"
      ]

volumes:
  django_static_volume:
  solr_volume:
