<div class="row">
    <div id="diva-column" class="col-xs-6"></div>
    <div class="col-xs-6">
        <div id="manuscript-title-container" class="row">
            <div class="col-md-12">
                <% /* Style this as a link pretending to be a button pretending to be a link so that
                    * we get button-style padding as well as appropriate hover settings */ %>
                <a id="manuscript-title-popover-link" data-toggle="popover" data-placement="bottom"
                        class="btn btn-link" title="<%= name %>">
                    <h1 class="h3"><%= provenance %>, <%= siglum %></h1>
                </a>
            </div>
        </div>
        <div id="manuscript-nav-container" class="row">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#manuscript-folio-pane" data-toggle="tab">Folio</a></li>
                <li><a href="#manuscript-search-pane" data-toggle="tab">Search Manuscript</a></li>
            </ul>
        </div>
        <div id="manuscript-data-container" class="row">
            <div class="tab-pane col-md-12 active">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="manuscript-folio-pane" >
                        <div id="folio"></div>
                    </div>
                    <div class="tab-pane" id="manuscript-search-pane">
                        <h3>Search this manuscript</h3>
                        <div id="manuscript-search"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>