<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Manuscripts</h1>
            <div class="manuscript-list">Loading...</div>

            <h2 class="h3">Future Manuscripts (in preparation)</h2>
            <ul>
                <li>
                    <p>
                        <a href="http://www.ksbm.oeaw.ac.at/images/AT/5000/AT5000-1012/AT5000-1012_1r.jpg">Klosterneuburg
                            1012</a><br>

                        <small class="text-muted">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <a href="http://cantus.uwaterloo.ca/source/123613" target="_blank">
                                Cantus Database
                            </a>
                        </small>
                        <br>

                        Klosterneuburg Augustiner-Chorherrenschtift Bibliothek, 1012, 12th C
                    </p>
                </li>
                <li>
                    <p>
                        <a href="http://gallica.bnf.fr/ark:/12148/btv1b6000531z.r=latin+12044.langEN">Paris 12044</a><br>

                        <small class="text-muted">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <a href="http://cantus.uwaterloo.ca/source/123628" target="_blank">
                                Cantus Database
                            </a>
                        </small>
                        <br>

                        Bibliothèque nationale, Département des manuscrits, Latin 12044, 12th C
                    </p>
                </li>
                <li>
                    <p>
                        <a href="http://www.ceec.uni-koeln.de/ceec-cgi/kleioc/0010/exec/pagemed/%22kn28-1161_001.jpg%22/segment/%22body%22">Cologne 1161</a><br>

                        <small class="text-muted">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <a href="http://cantus.uwaterloo.ca/source/601861" target="_blank">
                                Cantus Database
                            </a>
                        </small>
                        <br>

                        Köln, Dombibliothek, Codex 1161, 13th century
                    </p>
                </li>
                <li>
                    <p>
                        <a href="http://gallica.bnf.fr/ark:/12148/btv1b8447768b/f9.image.r=latin%2015181.langEN">Paris 15181</a><br>

                        <small class="text-muted">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <a href="http://cantus.uwaterloo.ca/source/123631" target="_blank">
                                Cantus Database
                            </a>
                        </small>
                        <br>

                        Bibliothèque nationale, Département des manuscrits, Latin 15181, 14th C
                    </p>
                </li>
                <li>
                    <p>
                         <a href="http://www.e-codices.unifr.ch/en/sbe/0611/1r">Einsiedeln 611</a><br>

                         <small class="text-muted">
                             <span class="glyphicon glyphicon-share-alt"></span>
                             <a href="http://cantus.uwaterloo.ca/source/123606" target="_blank">
                                 Cantus Database
                             </a>
                         </small>
                         <br>

                         Einsiedeln, Stiftsbibliothek, Codex 611(89), 14th C
                    </p>
                </li>

                <% /* This used to link to DIAMM but the page is broken -- maybe restore that if ahankinson
                      can fix it? It has a lot more background info than CU. */ %>
                <li>
                    <p>
                        <a href="http://dev-cantus.simssa.ca/manuscript/51/">Utrecht 406</a><br>

                        <small class="text-muted">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <a href="http://cantus.uwaterloo.ca/source/123641" target="_blank">
                                Cantus Database
                            </a>
                        </small>
                        <br>

                        Utrecht, Universiteitsbibliotheek, MS 3 J 7, ca. 12th–15th C
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
