<h3>Create new nomenclature membership</h3>
<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <select class="form-control" name="name">
            <option value="null">None</option>
            <% _.forEach(names, function(name, index) { %>
            <option value="<%= name.url %>"><%= name.string %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <label for="nomenclature">Nomenclature:</label>
        <select class="form-control" name="nomenclature">
            <option value="null">None</option>
            <% _.forEach(nomenclatures, function(nomenclature, index) { %>
            <option value="<%= nomenclature.url %>"><%= nomenclature.nomenclature_name %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-default" type="submit">Submit</button>
    </div>
</form>
<div class="status-message"></div>