<div class="col-md-12">
    <h1>Edit Glyph <%= id %> - <%= short_code %></h1>
    <hr/>
</div>
<div class="col-md-4 name-editor">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h2 class="panel-title">Name Editor</h2>
        </div>
        <div class="panel-body">
            <div class="name-create-area"></div>
            <hr/>
            <h3>Edit Existing Names</h3>
            <div class="names-area"></div>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Nomenclature Relationship Editor</h2>
        </div>
        <div class="panel-body">
            <div class="name-nomenclature-membership-create-area"></div>
            <hr/>
            <h3>Edit Name Nomenclature Memberships</h3>
        </div>
        <div class="name-nomenclature-membership-view-area"></div>
    </div>
    <hr />
    <div class="glyph-properties-area"></div>
</div>
<div class="col-md-8 image-editor">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Image Editor</h2>
        </div>
        <div class="panel-body">
            <div class="image-upload-area"></div>
            <hr/>
            <div class="images-area"></div>
        </div>
    </div>
</div>
