<div class="row">
    <form class="form-horizontal" action="#">
        <div class="col-sm-7">
            <div class="form-group">

                <input name="string" class="form-control" placeholder="Name" value="<%= string %>">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>
        </div>
        <div class="col-sm-2">
            <button name="delete" class="btn btn-danger" type="button">Delete</button>
        </div>
    </form>
</div>
<div class="status-message"></div>