<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Glyph Property Editor</h2>
    </div>
    <div class="panel-body">
        <div class="property-status-message"></div>
        <form class="form" action="#">
            <div class="form-group">
                <label for="comments">Comments:</label>
                <textarea name="comments" class="form-control comments-box" rows="3"><%= comments %></textarea>
            </div>
            <div class="form-group">
                <button name="save-properties" class="btn btn-default" type="submit">Save Properties</button>
            </div>
        </form>
    </div>
</div>