<% if (cantus_id || cdb_link_url) { %>
<p>
<% } %>
<% if (cantus_id) { %>
<b>Cantus ID:</b> <%= cantus_id %>
<% } %>
<% if (cdb_link_url) { %>
(<a href = <%= cdb_link_url %> >Visit record in Cantus Database</a>)
<% } %>
<% if (cantus_id || cdb_link_url) { %>
</p>
<% } %>
<% if (marginalia) { %>
<p><b>Marginalia:</b> <%= marginalia %></p>
<% } %>
<% if (sequence) { %>
<p><b>Sequence: </b> <%= sequence %></p>
<% } %>
<% if (feast) { %>
<p><b>Feast: </b> <%= feast %></p>
<% } %>
<% if (office) { %>
<p><b>Office: </b> <%= office %></p>
<% } %>
<% if (genre) { %>
<p><b>Genre: </b> <%= genre %></p>
<% } %>
<% if (mode) { %>
<p><b>Mode: </b> <%= mode %></p>
<% } %>
<% if (differentia) { %>
<p><b>Differentia: </b> <%= differentia.replace('w', 'ω') %></p>
<% } %>
<% if (finalis) { %>
<p><b>Finalis: </b> <%= finalis %></p>
<% } %>
<hr/>
<% if (full_text) { %>
<h5>Full Text</h5>
<%= full_text %>
<% } %>
<% if (volpiano) { %>
<hr/>
<div class="volpiano"><%= volpiano %></div>
<hr/>
<button id="btnPlay">Play Audio</button>
<% } %>
