<% if (cantus_id || cdb_link_url) { %>
<p>
<% } %>
<% if (cantus_id) { %>
<b>Cantus ID:</b> <a href = "https://cantusindex.org/id/<%= cantus_id %>" target = "_blank"><%= cantus_id %></a>
<% } %>
<% if (cdb_link_url) { %>
(<a href = <%= cdb_link_url %> target = "_blank" rel = "noopener noreferrer">Visit record in Cantus Database</a>)
<% } %>
<% if (cantus_id || cdb_link_url) { %>
</p>
<% } %>
<% if (marginalia) { %>
<p><b>Marginalia:</b> <%= marginalia %></p>
<% } %>
<% if (sequence) { %>
<p><b>Sequence: </b> <%= sequence %></p>
<% } %>
<% if (feast) { %>
<p><b>Feast: </b> <%= feast %></p>
<% } %>
<% if (office) { %>
<p><b>Office: </b> <%= office %></p>
<% } %>
<% if (genre) { %>
<p><b>Genre: </b> <%= genre %></p>
<% } %>
<% if (mode) { %>
<p><b>Mode: </b> <%= mode %></p>
<% } %>
<% if (differentia) { %>
<p><b>Differentia: </b> <%= differentia.replace('w', 'ω') %></p>
<% } %>
<% if (differentiae_database) { %>
    <p><b>Differentiae Database: </b> <%= differentiae_database %></p>
<% } %>
<% if (finalis) { %>
<p><b>Finalis: </b> <%= finalis %></p>
<% } %>
<% if (full_text) { %>
<hr/>
<h5>Full Text</h5>
<%= full_text %>
<% } %>
<% if (volpiano) { %>
<hr/>
<div class="volpiano"><%= volpiano %></div>
<hr/>
<button class="btnPlay">Play Audio</button>
<button class="btnStop">Stop Audio</button>
<% } %>
