/target/

/solr/collection1/data/
/solr/cantus-test/data/

# The test core is automatically created and unloaded
# during testing, so its properties are temporary
/solr/cantus-test/core.properties
/solr/cantus-test/core.properties.unloaded

logs/*
.project
.classpath
.settings
