<h4>Chants</h4>
<div class="panel-group" id="accordion">
    <% _.forEach(chants, function(chant, index) { %>
    <div id="chant-<%= index %>" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>">
                    <%= chant.incipit %>
                </a>
            </h4>
        </div>
        <div id="collapse-<%= index %>" class="panel-collapse collapse <% if (index === unfoldedChant) { %>in<% } %>">
            <div class="panel-body">
                <% if (chant.marginalia) { %>
                <p><b>Marginalia:</b> <%= chant.marginalia %></p>
                <% } %>
                <% if (chant.sequence) { %>
                <p><b>Sequence: </b> <%= chant.sequence %></p>
                <% } %>
                <% if (chant.feast) { %>
                <p><b>Feast: </b> <%= chant.feast %></p>
                <% } %>
                <% if (chant.office) { %>
                <p><b>Office: </b> <%= chant.office %></p>
                <% } %>
                <% if (chant.genre) { %>
                <p><b>Genre: </b> <%= chant.genre %></p>
                <% } %>
                <% if (chant.lit_position) { %>
                <p><b>Lit Position: </b> <%= chant.lit_position %></p>
                <% } %>
                <% if (chant.mode) { %>
                <p><b>Mode: </b> <%= chant.mode %></p>
                <% } %>
                <% if (chant.differentia) { %>
                <p><b>Differentia: </b> <%= chant.differentia.replace('w', 'ω') %></p>
                <% } %>
                <% if (chant.finalis) { %>
                <p><b>Finalis: </b> <%= chant.finalis %></p>
                <% } %>
                <hr/>
                <h5>Full Text</h5>
                <%= chant.full_text %>
                <hr/>
                <% if (chant.volpiano) { %>
                <p class="volpiano"><%= chant.volpiano %></p>
                <hr/>
                <% } %>
                <h5>Concordances</h5>
                <ul>
                    <% _.each(chant.concordances, function(concordance) { %>
                    <li><%= concordance %></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <% }); %>
</div>