<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="site-logo" class="navbar-brand" href="/">Cantus Ultimus</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right">  </ul>
    </div>
</nav>