<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="site-logo" class="navbar-brand" href="/">Cantus Ultimus</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#top-menu">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/about/">About</a></li>
                <li><a href="/activities/">Activities</a></li>
                <li><a href="/team/">Team</a></li>
            </ul>

            <ul id="top-menu" class="nav navbar-nav"></ul>
        </div>

    </div>
</nav>
