<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Siglum</th>
        <th>Date</th>
        <th>Provenance</th>
        <th># Chants</th>
    </tr>
    <% for (var i = 0; i < manuscripts.length; i++) { %>
    <tr>
        <td><a id="manuscript-list-<%= i %>" href="<%= manuscripts[i].url %>" ><%= manuscripts[i].name %></a></td>
        <td><%= manuscripts[i].siglum %></td>
        <td><%= manuscripts[i].date %></td>
        <td><%= manuscripts[i].provenance %></td>
        <td><%= manuscripts[i].chant_count %></td>
    </tr>
    <% } %>
</table>