<ul class="pagination">
    <li id="<%= name %>-page-back" <% if (currentPage <= 1) { %>class="disabled"<% } %> >
    <a href="#">&laquo;</a>
    </li>
    <% for (var page = startPage; page <= endPage; page++) { %>
    <li <% if (page == currentPage) { %>class="active"<% } %> >
    <a href="#" id="<%= name %>-page-<%= page %>"><%= page %></a>
    </li>
    <% } %>
    <li id="<%= name %>-page-forward" <% if (currentPage >= endPage) { %>class="disabled"<% } %> >
    <a href="#">&raquo;</a>
    </li>
</ul>