{% extends "base.html" %}

{% block head %}
<style>
    form.paths, h2, h5 {
        width: 100%;
        text-align: center;
    }

    .mapping-column {
        display: inline-block;
        width: 49%;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align:top;
    }

    ul {
        list-style: none;
    }

    li {
        margin-bottom: 3px;
    }

    li > h4 {
        text-decoration: underline;
    }

    li > input {
        width: 70px;
        margin-left: 20px;
    }

    .button {
        display: inline-block;
        cursor: pointer;
        background-color: #e0e0e0;
        border: solid 1px #b6b6b6;
        padding: 4px;
        margin-left: 5px;
        width: 55px;
    }

    .final-submit {
        position: fixed;
        top: 50%;
        right: 25px;
    }

    .blue-button {
        background-color: #264cff;
        color: white;
        border: solid 1px #0b97c4;
        padding: 7px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .backup-options {
        position: fixed;
        top: calc(50% + 75px);
        right: 25px;
        text-align: right;
    }

    .error-message {
        color: red;
    }
</style>
{% endblock %}

{% block body %}

{% if posted %}
<h2>The mapping has been successfully saved</h2>
<h5>The changes are currently being applied to the database. They should appear in a few minutes.</h5>

{% elif error %}
<h2 class="error-message">{{ error }}</h2>

{% elif uris == None or folios == None or manuscript_id == None %}
<h5><br>The data dump file has to be in <em>public/data_dumps/</em></h5>
<form class="paths" action="/admin/map_folios/" method="get">
    <input type="text" name="manifest" placeholder="Manifest file URL" />
    <input type="text" name="data" placeholder="Data dump file name" />
    <input type="text" name="manuscript_id" placeholder="Manuscript ID" />
    <input type="submit" />
</form>

{% else %}

<h5><br><em>Tip: Use 'Tab' and 'Shift+Tab' to navigate the input fields.</em></h5>

<form class="mapping-column" action="/admin/map_folios/" method="post">
    {% csrf_token %}
    <input type="hidden" name="manuscript_id" value="{{ manuscript_id }}" />
    <ul>
        <li><h4>Pages from the manifest:</h4></li>
        {% for uri in uris %}
        <li>
            <a href={{ uri.large }} target="_blank"><img src={{ uri.thumbnail }} /></a>
            {{ uri.short }}
            <input type="text" class="folio-mapping" name={{ uri.full }} />
            <div class="button" onclick="onMoveUp({{ forloop.counter0 }})" tabindex="-1">Up</div>
            <div class="button" onclick="onMoveDown({{ forloop.counter0 }})" tabindex="-1">Down</div>
        </li>
        {% endfor %}
    </ul>
    <div class="final-submit">
        <input class="blue-button" type="submit" value="Submit this Mapping">
    </div>
</form>
<div class="backup-options">
    <div class="blue-button" onclick="onSaveBackup()">Save Backup</div>
    <h6><em>Drag and drop a CSV file anywhere<br>on the page to import it.</em></h6>
</div>
<ul class="mapping-column">
    <li><h4>Folio names from the data:</h4></li>
    {% for folio in folios %}
    <li class="folio-name">{{ folio }}</li>
    {% endfor %}
</ul>

<script>
    var folios = document.getElementsByClassName('folio-name');
    var inputs = document.getElementsByClassName('folio-mapping');

    for (var i = 0; i < inputs.length && i < folios.length; i++) {
        inputs[i].value = folios[i].textContent;
    }

    document.body.addEventListener('dragover', handleDragOver, false);
    document.body.addEventListener('drop', handleFileDrop, false);

    function handleFileDrop(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        var file = evt.dataTransfer.files[0];
        loadBackup(file);
    }

    function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    }

    function onMoveUp(startIndex) {
        // Move up should change the value above the current input field
        if (startIndex > 0)
            startIndex--;
        var temp = inputs[startIndex].value;

        for (var i = startIndex; i < inputs.length - 1; i++) {
            inputs[i].value = inputs[i + 1].value;
        }
        inputs[inputs.length - 1].value = temp;
    }

    function onMoveDown(startIndex) {
        var temp = inputs[inputs.length - 1].value;
        for (var i = inputs.length - 1; i > startIndex; i--) {
            inputs[i].value = inputs[i - 1].value;
        }
        inputs[startIndex].value = temp;
    }

    function onSaveBackup() {
        var data = 'folio,uri\n';
        for (var i = 0, len = inputs.length; i < len; i++) {
            data += inputs[i].value + ',' + inputs[i].name + '\n';
        }
        console.log(data);
        download('backup.csv', data);
    }

    function loadBackup(file) {
        var reader = new FileReader();
        reader.readAsText(file, "UTF-8");
        reader.onload = function (e) {
            var lines = e.target.result.split('\n');
            var inputIndex = 0;
            for (var i = 1; i < lines.length; i++) {
                var values = lines[i].split(',');

                while (inputIndex < inputs.length && inputs[inputIndex].name !== values[1])
                    inputIndex++;

                if (inputIndex < inputs.length)
                    inputs[inputIndex].value = values[0];
            }
        }
    }

    function download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:application/octet-stream,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }
</script>
{% endif %}
{% endblock %}