Django==3.1.12
django-extensions==3.1.0
djangorestframework==3.12.2
gunicorn==20.1.0
lxml==4.6.2 # Barely used
Markdown==2.6.2
Pillow==7.1.0 # Barely used
progressbar2==3.47.0 # Barely used
psycopg2==2.8.6
requests==2.20.0
solrpy==0.9.9
wheel==0.24.0 # Not sure if necessary
coverage==4.0.3
coveralls==1.1 # Not sure if necessary