body, html {
    height: 100%;
}

#container {
    height: 100%;
    padding: 0;
    /*overflow-y: hidden;*/
}

.name-editor {
    height: 100%;
    /*overflow-y: scroll;*/
}

.image-editor {
    height: 100%;
    /*overflow-y: scroll;*/
}

.dropzone-form {
    width: 100%;
    height: 200px;
    background: #eee;
    padding: 15px;
    border: 1px solid #ccc;
}

.dropzone-form:hover {
    background: #F5F8FE;
    cursor: pointer;
}

.dz-preview {
    float: left;
}

.glyph-list-image {
    min-height: 50px;
    height: 50px;
    margin: 0px;
}

.glyph-image-list ul {
    padding: 0px;
    margin: 0px;
}

.glyph-image-list li {
    display: block;
    float: left;
}

.glyph-editor-image {
    height: 200px;
    min-height: 200px;
}

.glyph-editor-image-container { 
    float: left;
    margin: 0 20px 0 0;
}