.dropzone {
    width: 100%;
    height: 200px;
    background: #eee;
    padding: 15px;
    border: 1px solid #ccc;
}

.dropzone:hover {
    background: #F5F8FE;
    cursor: pointer;
}

.dz-preview {
    float: left;
}