.modalSubLeft{
	text-align:center;
	float:left;
	width:50%;
	display:inline-block;
}
.modalSubRight{
	text-align:center;
	float:right;
	width:50%;
	display:inline-block;
}
#clear{
	clear:both;
}
.centeredAccept{
	text-align:center;
	width:100%;
}
#link-files{
	margin-top:10px;
}
#unlink-files{
	margin-top:10px;
}
#unlink-wrapper{
	text-align:center;
}
#hover-div{
    z-index:1001;
    position:absolute;
    display:none;
	width:auto;
}
.overlay-box{
    border: thin black solid;
    position: absolute;
    cursor: default;
}
#drag-div{
    border: thin black solid;
    position: absolute;
    cursor: default;
    background-color:rgba(255, 0, 0, 0.1);
    z-index:1004;
}
#cover-div{
	position:fixed;
	z-index:1003;
}