#mei-editor{
	width:50%;
	display:inline-block;
}
#diva-wrapper{
	position:absolute;
	display:inline-block;
	padding:0em;
	margin:0em;
	top:0em;
	width:50%;
	height:100%;
}

.diva-toolbar{
	display:inline-block;
	position:absolute;
	top:0px;
	width:50%;
	left:50%;
}

.diva-outer{
	height:100%;
}

.diva-tools{
	height:100%;
	margin-top:.9em;
	vertical-align: middle;
}

.diva-tools-left{
	height:100%;
	margin-left:.4em;
}
.diva-tools-right{
	margin-right:1.4em;
}

.diva-outer{
	border-width:.1em;
	border-top-left-radius:4px; /*to match the left side of the page*/
	border-top-right-radius:4px; /*to match the left side of the page*/
}
.diva-page-label{
	display:inline;
}
body{
	padding:0px;
	margin:0px;
}
.modalSubLeft{
	text-align:center;
	float:left;
	width:50%;
	display:inline-block;
}
.modalSubRight{
	text-align:center;
	float:right;
	width:50%;
	display:inline-block;
}
#clear{
	clear:both;
}
.centeredAccept{
	text-align:center;
	width:100%;
}
#link-files{
	margin-top:10px;
}
#unlink-files{
	margin-top:10px;
}
#unlink-wrapper{
	text-align:center;
}
#hover-div{
    z-index:1001;
    position:absolute;
    display:none;
	width:200px;
}
.overlay-box{
    border: thin black solid;
    position: absolute;
    cursor: default;
}
#drag-div{
    border: thin black solid;
    position: absolute;
    cursor: default;
    background-color:rgba(255, 0, 0, 0.1);
}
#cover-div{
	position:fixed;
	background-color:rgba(0, 0, 0, 0.1);
}
#lineQueryOverlay{
	background-color:rgba(0, 0, 0, 0.7);
	z-index:1040;
}
#lineQuery{
	position:absolute;
	
	border: thin black solid;
	background-color:rgb(255, 255, 255);
	border-radius: 6px;
	padding: 30px;
}