#mei-editor{
	width:50%;
	display:inline-block;
}
#diva-wrapper{
	position:absolute;
	display:inline-block;
	padding:0em;
	margin:0em;
	top:0em;
	width:50%;
}

#diva-toolbar{
	display:inline-block;
	position:absolute;
	top:0px;
	width:50%;
}

.diva-outer{
	height:100%;
}

.diva-tools{
	height:100%;
	margin-top:.9em;
	vertical-align: middle;
}

.diva-tools-left{
	height:100%;
	margin-left:.4em;
}
.diva-tools-right{
	margin-right:1.4em;
}

.diva-outer{
	border-radius:4px; /*to match the left side of the page*/
}
.diva-page-label{
	display:inline;
}
body{
	padding:0px;
	margin:0px;
}