body{
	padding:0px;
	margin:0px;
}
#loadingScreen{
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed;
	background-color:#222;
	color:#FFF;
	z-index:1000;
	font-size:16pt;
	text-align: center;
	vertical-align: middle;
	padding-top:200px;
}
#manuscriptSubmit{
	margin-top:20px;
	background-color:#222;
	outline:none;
}
#mei-editor{
	width:50%;
	display:inline-block;
}
#diva-wrapper{
	position:absolute;
	display:block;
	padding:0em;
	margin:0em;
	top:0em;
	margin-left: 50%;
	width:50%;
        height: 100%;
}
.modalSubLeft{
	text-align:center;
	float:left;
	width:50%;
	display:inline-block;
}
.modalSubRight{
	text-align:center;
	float:right;
	width:50%;
	display:inline-block;
}
#clear{
	clear:both;
}
.centeredAccept{
	text-align:center;
	width:100%;
}
#link-files{
	margin-top:10px;
}
#unlink-files{
	margin-top:10px;
}
#unlink-wrapper{
	text-align:center;
}
#hover-div{
    z-index:1001;
    position:absolute;
    display:none;
	min-width:200px;
}
.overlay-box{
    border: thin black solid;
    position: absolute !important;
    cursor: default;
}
#drag-div{
    border: thin black solid;
    position: absolute;
    cursor: default;
    background-color:rgba(255, 0, 0, 0.1);
}
#cover-div{
	position:fixed;
}
#lineQueryOverlay, #resizableOverlay{
	background-color:rgba(0, 0, 0, 0.5);
	z-index:140;
}
#lineQuery{
	position:absolute;
	border: thin black solid;
	background-color:rgb(255, 255, 255);
	border-radius: 6px;
	padding: 30px;
}
#openPages{
	font-family: inherit;
	font-size: inherit;
}
.diva-toolbar{
	display:inline-block;
	position:absolute;
	top:0px;
	vertical-align: middle;
	color: #FFF;
}
.diva-outer {
    margin-top:45px;
    height: 100%;
    border: 0;

}
.diva-tools {
    margin-top:0px;
    width: 100%;
}
.diva-goto-form{
	color: #000;
}

.diva-tools-left {
    float: left;
    margin-left:1.4em;
    margin-top:0.5em;
}

.diva-tools-right {
    float: right;
    width: auto;
    margin-top: .5em;
    margin-right: 1em;
    line-height: 18px;
}

.diva-input {
    padding: 0 !important;
}

.diva-tools-right input {
    padding: 2px 6px;
}

.zoom-button {
    display: block;
}

.diva-page-nav {
    width: auto;
    float: right;
    padding-right: 0px;
    line-height: 27px !important;
}

.diva-page-label {
    margin-right: 10px;
}

.diva-goto-form {
    float: right;
}

.diva-page-label {
    float: right;
}

.dropdown-menu > li > a {
	padding:.5em 1em;
}

.btn {
	padding: .5em 1em;
}

.btn-primary {
	background-color:#555;
	border-color:#000;
}
.btn-primary:hover {
	background-color:#777;
	border-color:#000;
}
