body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin:0px;
    padding:0px;
}
.overlay-box{
    border: thin black solid;
    position: absolute;
    cursor: default;
}
#hover-div{
    z-index:1001;
    position:absolute;
    display:none;
}
#topbar{
    height:30px;
    width:100%;
    position:absolute;
}
#container{
    top:30px;
    position:absolute;
    left: 0.2%;
    width: 99.6%;
}
#diva-wrapper{
    float:right;
    background: #DDDDDD;
    border-radius:10px;
    border:thin black solid;
    width:50%;
    height:100%;
    position:relative;
}
#editor{
    float:left;
    width:calc(50% - 20px);
    height:100%;
    border-radius:10px;
    border:thin black solid;
    position:relative;
}
#mei-editor{
    height:100%;
}
.toolbar-object{
    z-index:5;
    border:thin black solid;
    position:fixed;
    background: #EEEEEE;
    padding:10px;
    border-radius:10px;
    height:auto;
    width:auto;
    top:30px;
    left:30px;
}
.clear{
    clear:both;
}
.meiFile{
    background: #DDDDDD;
    border-radius:10px;
    border:thin black solid;
    padding:5px;
}
.meiFileButtons{
    float:right;
    top:-2px;
    margin-left:5px;
}
.maximize{
    float:right;
}
.minimize{
    float:right;
}