body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.overlay-box{
    border: thin black solid;
    position: absolute;
    cursor: default;
}
#hover-div{
    z-index:1001;
    position:absolute;
    display:none;
}
#diva-wrapper{
    float:right;
    width:50%;
    height:100%;
}
#editor{
    float:left;
    width:50%;
    height:100%;
    top:0%;
}
#file-upload{
    z-index:5;
    border:thin black solid;
    position:fixed;
    background: #DDDDDD;
    padding:10px;
    border-radius:10px;
    height:auto;
    width:auto;
    top:30px;
    left:30px;
}
.clear{
    clear:both;
}
.meiFile{
    border-radius:10px;
    border:thin black solid;
    padding:5px;
}