{% extends "base.html" %}
{% load map_folios %}
{% block head %}
<style>
    form.paths, h2, h5 {
        width: 100%;
        text-align: center;
    }

    .mapping-column {
        display: inline-block;
        width: 49%;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align:top;
    }

    th {
        text-align:center;
        padding: 10px;
    }

    td {
        text-align:center;
        padding:10px;
    }

    ul {
        list-style: none;
    }

    li {
        margin-bottom: 3px;
    }

    li > h4 {
        text-decoration: underline;
    }

    li > input {
        width: 70px;
        margin-left: 20px;
    }

    .button {
        display: inline-block;
        cursor: pointer;
        background-color: #e0e0e0;
        border: solid 1px #b6b6b6;
        padding: 4px;
        margin-left: 5px;
        width: 55px;
    }

    .final-submit {
        position: fixed;
        top: 50%;
        right: 25px;
    }

    .blue-button {
        background-color: #264cff;
        color: white;
        border: solid 1px #0b97c4;
        padding: 7px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .grey-button {
        background-color: grey;
        color: white;
        border: solid 1px #0b97c4;
        padding: 7px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .backup-options {
        position: fixed;
        top: calc(50% + 75px);
        right: 25px;
        text-align: right;
    }

    .folio-mapped {
        color: green;
    }

    .folio-pending {
        color: goldenrod;
    }

    .folio-unmapped {
        color: red;
    }

    .error-message {
        color: red;
    }

    .table-link{
        text-decoration: underline;
        color: #0b97c4;
    }

    .two-folio-checkbox{
        width: 80%;
        text-align: right;
    }
</style>
{% endblock %}

{% block body %}

{% if error %}
<h2 class="error-message">{{ error }}</h2>

{% elif manuscript_ids %}
<table>
    <tr>
      <th>Manuscript</th>
      <th>Status</th>
      <th>Mapping</th>
    </tr>
    {% for m_id, m_str, is_mapped in manuscript_ids %}
    <tr>
        <td>{{ m_str }}</td>
            {% if is_mapped == "MAPPED" %}
            <td class="folio-mapped">Already mapped</td>
            {% elif is_mapped == "PENDING" %}
            <td class="folio-pending">Map pending</td>
            {% else %}
            <td class="folio-unmapped">Not mapped</td>
            {% endif %}
        <td>
            {% if is_mapped == "MAPPED" %}
            <a href="/admin/map_folios/?manuscript_id={{ m_id }}" class="table-link">Edit map</a>
            {% elif is_mapped == "PENDING" %}
            <span>Wait for mapping to process</span>
            {% else %}
            <a href="/admin/map_folios/?manuscript_id={{ m_id }}" class="table-link">Map now</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% elif manuscript_id and uris and folios and manuscript_mapping_state %}

<h5><br><em>Tip: Use 'Tab' and 'Shift+Tab' to navigate the input fields.</em></h5>

<div class="two-folio-checkbox">
    <fieldset>
        <input type="checkbox" id="two-folio-images" name="Two Folio Images"
               unchecked>
        <label for="two-folio-images">Images have two folios?</label>
    </fieldset>
</div>

<form class="mapping-column" action="/admin/map_folios/" method="post">
    {% csrf_token %}
    <input type="hidden" name="manuscript_id" value="{{ manuscript_id }}" />
    <ul>
        <li><h4>Pages from the manifest:</h4></li>
        {% for uri in uris %}
        <li hidden class="double-folio-list-items">
            {% if forloop.counter0 == 0 %}
            <a href={{ uri.large }} target="_blank"><img src={{ uri.thumbnail }} /></a>
            {{ uri.id }}
            {% if uri.folio %}
            <input type="text" class="folio-mapping" name={{ uri.full }} onchange="checkMappedFolios()" value={{ uri.folio }} />
            {% else %}
            <input type="text" class="folio-mapping" name={{ uri.full }} onchange="checkMappedFolios()" />
            {% endif %}
            <div class="button" onclick="onMoveUp({{ forloop.counter0 }})" tabindex="-1">Up</div>
            <div class="button" onclick="onMoveDown({{ forloop.counter0 }})" tabindex="-1">Down</div>           
            {% elif not forloop.counter0|divisibleby:"2" %}
            <a href={{ uri.large }} target="_blank"><img src={{ uri.thumbnail }} /></a>
            {% with uris|nextitem:forloop.counter0 as next_uri %}
            {{ uri.id }}, {{ next_uri.id }}
            {% if uri.folio %}
            <input type="text" class="folio-mapping" name={{ uri.full }} onchange="checkMappedFolios()" value={{ uri.folio }} />
            {% else %}
            <input type="text" class="folio-mapping" name={{ uri.full }} onchange="checkMappedFolios()" />
            {% endif %}
            {% if next_uri.folio %}
            <input type="text" class="folio-mapping" name={{ next_uri.full }} onchange="checkMappedFolios()" value={{ next_uri.folio }} />
            {% else %}
            <input type="text" class="folio-mapping" name={{ next_uri.full }} onchange="checkMappedFolios()" />
            {% endif %}
            <div class="button" onclick="onMoveUp({{ forloop.counter0 }})" tabindex="-1">Up</div>
            <div class="button" onclick="onMoveDown({{ forloop.counter0 }})" tabindex="-1">Down</div>
            {% endwith %}
            {% endif %}
        </li>
        {% endfor %}
        {% for uri in uris %}
        <li class="single-folio-list-items">
            <a href={{ uri.large }} target="_blank"><img src={{ uri.thumbnail }} /></a>
            {{ uri.id }}
            {% if uri.folio %}
            <input type="text" class="folio-mapping" name={{ uri.full }} onchange="checkMappedFolios()" value={{ uri.folio }} />
            {% else %}
            <input type="text" class="folio-mapping" name={{ uri.full }} onchange="checkMappedFolios()" />
            {% endif %}
            <div class="button" onclick="onMoveUp({{ forloop.counter0 }})" tabindex="-1">Up</div>
            <div class="button" onclick="onMoveDown({{ forloop.counter0 }})" tabindex="-1">Down</div>
        </li>
        {% endfor %}
    </ul>
    {% if manuscript_mapping_state == "PENDING" %}
    <div class="final-submit">
        <input class="grey-button" type="button" value="Mapping in Progress. Try again later.">
    </div>
    {% else %}
    <div class="final-submit">
        <input class="blue-button" type="submit" value="Submit this Mapping">
    </div>
    {% endif %}
</form>
<div class="backup-options">
    <div class="blue-button" onclick="onSaveBackup()">Save Backup</div>
    <h6><em>Drag and drop a CSV file anywhere<br>on the page to import it.</em></h6>
</div>
<ul class="mapping-column">
    <li><h4>Folio names from the data:</h4></li>
    {% for folio in folios %}
    <li class="folio-name folio-unmapped" id={{ folio }} >{{ folio }}</li>
    {% endfor %}
</ul>

<script>
    var folios = document.getElementsByClassName('folio-name');
    var inputs = document.getElementsByClassName('folio-mapping');

    document.body.addEventListener('dragover', handleDragOver, false);
    document.body.addEventListener('drop', handleFileDrop, false);

    checkMappedFolios();

    var twoFolioBox = document.getElementById('two-folio-images');
    twoFolioBox.addEventListener('change', handleTwoFolioBoxChange);

    function handleTwoFolioBoxChange(evt){
        var singleFolioItems = document.getElementsByClassName("single-folio-list-items");
        var doubleFolioItems = document.getElementsByClassName("double-folio-list-items");
        for (var i = 0; i < singleFolioItems.length; i++){
            if (singleFolioItems[i].hidden){
                singleFolioItems[i].hidden = false;
            } else {
                singleFolioItems[i].hidden = true;
            }
        }
        for (var i = 0; i < doubleFolioItems.length; i++){
            if (doubleFolioItems[i].hidden){
                doubleFolioItems[i].hidden = false;
            } else {
                doubleFolioItems[i].hidden = true;
            }
        }
    }

    function handleFileDrop(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        var file = evt.dataTransfer.files[0];
        loadBackup(file);
    }

    function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    }

    function onMoveUp(startIndex) {
        // Move up should change the value above the current input field
        if (startIndex > 0)
            startIndex--;
        var temp = inputs[startIndex].value;

        for (var i = startIndex; i < inputs.length - 1; i++) {
            inputs[i].value = inputs[i + 1].value;
        }
        inputs[inputs.length - 1].value = temp;
    }

    function onMoveDown(startIndex) {
        var temp = inputs[inputs.length - 1].value;
        for (var i = inputs.length - 1; i > startIndex; i--) {
            inputs[i].value = inputs[i - 1].value;
        }
        inputs[startIndex].value = temp;
    }

    function checkMappedFolios() {
        for (var i = 0; i < folios.length; i++) {
            var isMapped = false;
            for (var j = 0; j < inputs.length; j++) {
                if (folios[i].id == inputs[j].value) {
                    isMapped = true;
                }
            }
            if (isMapped) {
                folios[i].className = "folio-name folio-mapped";
            }
            else {
                folios[i].className = "folio-name folio-unmapped";
            }
        }
    }

    function onSaveBackup() {
        var data = 'folio,uri\n';
        for (var i = 0, len = inputs.length; i < len; i++) {
            data += inputs[i].value + ',' + inputs[i].name + '\n';
        }
        console.log(data);
        download('backup.csv', data);
    }

    function loadBackup(file) {
        var reader = new FileReader();
        reader.readAsText(file, "UTF-8");
        reader.onload = function (e) {
            var lines = e.target.result.split('\n');
            var inputIndex = 0;
            for (var i = 1; i < lines.length; i++) {
                var values = lines[i].split(',');

                while (inputIndex < inputs.length && inputs[inputIndex].name !== values[1])
                    inputIndex++;

                if (inputIndex < inputs.length)
                    inputs[inputIndex].value = values[0];
            }
        }
    }

    function download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:application/octet-stream,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }
</script>
{% endif %}
{% endblock %}