{% extends "base.html" %}
{% block head %}
    <style>
    form.paths, h2, h5 {
        width: 100%;
        text-align: center;
    }

    .mapping-column {
        display: inline-block;
        width: 49%;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align:top;
    }

    th {
        text-align:center;
        padding: 10px;
    }

    td {
        text-align:center;
        padding:10px;
    }

    ul {
        list-style: none;
    }

    li {
        margin-bottom: 3px;
    }

    li > h4 {
        text-decoration: underline;
    }

    li > input {
        width: 70px;
        margin-left: 20px;
    }

    .button {
        display: inline-block;
        cursor: pointer;
        background-color: #e0e0e0;
        border: solid 1px #b6b6b6;
        padding: 4px;
        margin-left: 5px;
        width: 55px;
    }

    .final-submit {
        position: fixed;
        top: 50%;
        right: 25px;
    }

    .blue-button {
        background-color: #264cff;
        color: white;
        border: solid 1px #0b97c4;
        padding: 7px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .grey-button {
        background-color: grey;
        color: white;
        border: solid 1px #0b97c4;
        padding: 7px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .backup-options {
        position: fixed;
        top: calc(50% + 75px);
        right: 25px;
        text-align: right;
    }

    .folio-mapped {
        color: green;
    }

    .folio-pending {
        color: goldenrod;
    }

    .folio-unmapped {
        color: red;
    }

    .error-message {
        color: red;
    }

    .table-link{
        text-decoration: underline;
        color: #0b97c4;
    }

    .two-folio-checkbox{
        position: fixed;
        top: 40%;
        right: 25px;
    }
    </style>
{% endblock %}
{% block body %}
    {% if error %}
        <h2 class="error-message">{{ error }}</h2>
    {% elif manuscript_ids %}
        <table>
            <tr>
                <th>Manuscript</th>
                <th>Status</th>
                <th>Mapping</th>
            </tr>
            {% for m_id, m_str, is_mapped in manuscript_ids %}
                <tr>
                    <td>{{ m_str }}</td>
                    {% if is_mapped == "MAPPED" %}
                        <td class="folio-mapped">Already mapped</td>
                    {% elif is_mapped == "PENDING" %}
                        <td class="folio-pending">Map pending</td>
                    {% else %}
                        <td class="folio-unmapped">Not mapped</td>
                    {% endif %}
                    <td>
                        {% if is_mapped == "MAPPED" %}
                            <a href="/admin/map_folios/?manuscript_id={{ m_id }}" class="table-link">Edit map</a>
                        {% elif is_mapped == "PENDING" %}
                            <span>Wait for mapping to process</span>
                        {% else %}
                            <a href="/admin/map_folios/?manuscript_id={{ m_id }}" class="table-link">Map now</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% elif manuscript_id and uris and folios and manuscript_mapping_state %}
        <h5>
            <br>
            <em>Tip: Use 'Tab' and 'Shift+Tab' to navigate the input fields.</em>
        </h5>
        <form class="mapping-column" action="/admin/map_folios/" method="post">
            {% csrf_token %}
            <input type="hidden" name="manuscript_id" value="{{ manuscript_id }}" />
            <div class="two-folio-checkbox">
                {% if not dbl_folio_img %}
                    <input type="checkbox"
                           id="two-folio-images"
                           name="two_folio_images"
                           unchecked>
                {% else %}
                    <input type="checkbox" id="two-folio-images" name="two_folio_images" checked>
                {% endif %}
                <label for="two-folio-images">Images have two folios?</label>
            </div>
            <ul>
                <li>
                    <h4>Pages from the manifest:</h4>
                </li>
                <!-- Manuscripts are assumed by default to have only one folio per image. In this case,
            or if the manuscript has previously been mapped with only one folio per image,
            the input boxes with second-folio-input are created hidden. If the manuscript has
            previously been mapped with two folios per image, this mapping is shown intially (ie.
            the second-folio-input boxes are visible). -->
                {% for uri in uris %}
                    <li>
                        <a href={{ uri.large }} target="_blank"><img src={{ uri.thumbnail }} /></a>
                        {{ uri.id }}
                        {% if not dbl_folio_img %}
                            {% if uri.folio %}
                                <input type="text" class="folio-mapping first-folio-input" name={{ uri.full }} onchange="checkMappedFolios()" value={{ uri.folio.0 }} />
                            {% else %}
                                <input type="text" class="folio-mapping first-folio-input" name={{ uri.full }} onchange="checkMappedFolios()" />
                            {% endif %}
                            <input hidden type="text" class="folio-mapping second-folio-input" name={{ uri.full }} onchange="checkMappedFolios()" />
                        {% else %}
                            {% if uri.folio %}
                                <input type="text" class="folio-mapping first-folio-input" name={{ uri.full }} onchange="checkMappedFolios()" value={{ uri.folio.0 }} />
                                {% if uri.folio.1 %}
                                    <input type="text" class="folio-mapping second-folio-input" name={{ uri.full }} onchange="checkMappedFolios()" value={{ uri.folio.1 }} />
                                {% else %}
                                    <input type="text" class="folio-mapping second-folio-input" name={{ uri.full }} onchange="checkMappedFolios()" />
                                {% endif %}
                            {% else %}
                                <input type="text" class="folio-mapping first-folio-input" name={{ uri.full }} onchange="checkMappedFolios()" />
                                <input type="text" class="folio-mapping second-folio-input" name={{ uri.full }} onchange="checkMappedFolios()" />
                            {% endif %}
                        {% endif %}
                        <div class="button"
                             onclick="onMoveUp({{ forloop.counter0 }})"
                             tabindex="-1">Up</div>
                        <div class="button"
                             onclick="onMoveDown({{ forloop.counter0 }})"
                             tabindex="-1">Down</div>
                    </li>
                {% endfor %}
            </ul>
            {% if manuscript_mapping_state == "PENDING" %}
                <div class="final-submit">
                    <input class="grey-button"
                           type="button"
                           value="Mapping in Progress. Try again later.">
                </div>
            {% else %}
                <div class="final-submit">
                    <input class="blue-button" type="submit" value="Submit this Mapping">
                </div>
            {% endif %}
        </form>
        <div class="backup-options">
            <div class="blue-button" onclick="onSaveBackup()">Save Backup</div>
            <h6>
                <em>Drag and drop a CSV file anywhere
                    <br>
                on the page to import it.</em>
            </h6>
        </div>
        <ul class="mapping-column">
            <li>
                <h4>Folio names from the data:</h4>
            </li>
            {% for folio in folios %}
                <li class="folio-name folio-unmapped" id={{ folio }}>{{ folio }}
                </li>
            {% endfor %}
        </ul>
        <script>
    var folios = document.getElementsByClassName('folio-name');
    var inputs = document.getElementsByClassName('folio-mapping');
    var firstFolioInputs = document.getElementsByClassName('first-folio-input');
    var secondFolioInputs = document.getElementsByClassName('second-folio-input');

    document.body.addEventListener('dragover', handleDragOver, false);
    document.body.addEventListener('drop', handleFileDrop, false);

    checkMappedFolios();

    var twoFolioBox = document.getElementById('two-folio-images');
    twoFolioBox.addEventListener('change', handleTwoFolioBoxChange);

    // Set the visible inputs to the correct set
    // of inputs based on whether the manuscript has
    // images with two folios.
    if (twoFolioBox.checked){
        var visibleInputs = inputs;
    } else {
        var visibleInputs = firstFolioInputs;
    }

    function handleTwoFolioBoxChange(evt){
        if (twoFolioBox.checked){
            for (var i = 0; i < secondFolioInputs.length; i++){
                secondFolioInputs[i].hidden = false;
            }
            visibleInputs = inputs;
        } else {
            for (var i = 0; i < secondFolioInputs.length; i++){
                secondFolioInputs[i].hidden = true;
            }
            visibleInputs = firstFolioInputs;
        }
        indexDoubleFolioToggle();
        checkMappedFolios();
    }

    function indexDoubleFolioToggle(){
        for (var i = 0; i < inputs.length; i++){
            inputs[i].value = null;
        }
        for (var i = 0; i < folios.length; i++){
            if (i < visibleInputs.length){
                visibleInputs[i].value = folios[i].id;
            }
        }
    }

    function handleFileDrop(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        var file = evt.dataTransfer.files[0];
        loadBackup(file);
    }

    function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    }

    function onMoveUp(startIndex) {
        // Move up should change the value above the current input field
        if (startIndex > 0)
            startIndex--;
        if (twoFolioBox.checked){
            startIndex = 2*startIndex;
        }
        var temp = visibleInputs[startIndex].value;

        for (var i = startIndex; i < visibleInputs.length - 1; i++) {
            visibleInputs[i].value = visibleInputs[i + 1].value;
        }
        visibleInputs[visibleInputs.length - 1].value = temp;
    }

    function onMoveDown(startIndex) {
        var temp = visibleInputs[visibleInputs.length - 1].value;
        if (twoFolioBox.checked){
            startIndex = 2*startIndex;
        }
        for (var i = visibleInputs.length - 1; i > startIndex; i--) {
            visibleInputs[i].value = visibleInputs[i - 1].value;
        }
        visibleInputs[startIndex].value = temp;
    }

    function checkMappedFolios() {
        for (var i = 0; i < folios.length; i++) {
            var isMapped = false;
            for (var j = 0; j < inputs.length; j++) {
                if (folios[i].id == inputs[j].value & !inputs[j].hidden) {
                    isMapped = true;
                }
            }
            if (isMapped) {
                folios[i].className = "folio-name folio-mapped";
            }
            else {
                folios[i].className = "folio-name folio-unmapped";
            }
        }
    }

    function onSaveBackup() {
        var data = 'folio,uri\n';
        for (var i = 0, len = visibleInputs.length; i < len; i++) {
            data += visibleInputs[i].value + ',' + visibleInputs[i].name + '\n';
        }
        const loc = document.location;
        const searchParams = new URLSearchParams(loc.search);
        const manID = searchParams.get('manuscript_id');
        download(`folio_mapping_backup_${manID}.csv`, data);
    }

    function loadBackup(file) {
        // Read the backup csv file uploaded by the user.
        var reader = new FileReader();
        reader.readAsText(file, "UTF-8");
        reader.onload = function (e) {
            // Split the lines of the csv.
            var lines = e.target.result.split('\n');
            var inputIndex = 0;
            // Iterate through each line (folio, uri) of the 
            // csv file and fill in the appropriate input field.
            for (var i = 1; i < lines.length; i++) {
                let line = lines[i].replaceAll('\r','');
                let values = line.split(',');
                let folio = values[0];
                let uri = values[1];
                
                // Iterate through visible inputs until the appropriate image uri
                // is reached. In manuscripts with images with two folios (and
                // therefore two input fields per image), the fields are filled in the
                // order in which they occur in the backup file.
                while (inputIndex < visibleInputs.length && visibleInputs[inputIndex].name !== uri)
                    inputIndex++;

                if (inputIndex < visibleInputs.length)
                    visibleInputs[inputIndex].value = folio;
                    inputIndex++;
            }
            checkMappedFolios();
        }
    }

    function download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:application/octet-stream,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }
        </script>
    {% endif %}
{% endblock %}
