/* Fonts */

@font-face {
  font-family: 'Volpiano';
  src: url('/static/fonts/volpiano.eot'); /* IE9 Compat Modes */
  src: url('/static/fonts/volpiano.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/volpiano.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/volpiano.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/volpiano.svg#a7a4d8715938a922c6a8c6587abbdcd3') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}



html {
    /*width: 960px;*/
    min-width: 880px;
}

.navbar {
    /** So that we don't have a space below the navbar. **/
    margin-bottom: 0px;
}

.volpiano {
    font-family: 'Volpiano';
    font-size: 22pt;
}

.cantus-container {
    width: 100%;
    padding: 0 30px 0 30px;
    overflow: hidden;
}

#diva-wrapper {
    width: 100%;
}

.scrollable {
    /*height: 800px;*/
    /*height: 100%;*/
    overflow-y: scroll;
}

#header-container {

}

#header-container h3 {
    /*font-size: 14px;*/
}

#content-container {
    overflow: hidden;
}

#page-content {
    /*height: 400px;*/
    /*overflow: hidden;*/
}

#manuscript-title-container h1 {
    margin-left: 15px;
    margin-right: 15px;
}

#manuscript-data-container {
    overflow-y: scroll;
}

.diva-tools {
    height: 75px;
    padding: 20px;
    margin-top: 0;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.diva-tools.diva-fullscreen-tools {
    width: 260px;
    height: 120px;
    padding: 10px;
}

.diva-outer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none;
    border-right: 1px solid #CCCCCC;
}

.diva-inner {
    width: 100%;
}

.diva-tools-left {
    float: left;
    /*width: 40%;*/
}

#manuscript-search {
    margin-top: 2em;
}

#search-notation {
    margin-top: 2em;
}

.diva-input {
    width: 60px;
    height: 33px;
}

#diva-toolbar input {
    width: 60px;
    height: 33px;
    padding: 0px;
}

#diva-toolbar input[type="submit"] {
    width: 33px;
}



/** Styles for the staticwebsite. **/

@media (min-width: 768px) {
  .lead {
    font-size: 22.5px;
  }
  .navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 20px;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .lead {
    font-size: 22.5px;
  }
  .navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 20px;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}


.navbar-text {
  margin-top: 17px;
  margin-bottom: 17px;
  text-decoration: none !important;
}

.navbar-text > li > a:hover {
    color: #000; }














