Django==3.2.19
django-extensions==3.1.0
djangorestframework==3.12.2
gunicorn==20.1.0
Markdown==2.6.2
psycopg2==2.8.6
requests==2.20.0
solrpy==0.9.9
coverage==4.0.3
celery==5.1.2
django-celery-results==2.4.0