<form>
    <div class="form-group input-section">
        <% // Use a fixed selection if field is 'mode' %>
        <% // FIXME(wabain): would a typeahead be better? %>
        <% if (field === 'mode') { %>
        <select multiple class="form-control search-input">
            <option id="mode-option-1" value="1">Mode 1</option>
            <option id="mode-option-2" value="2">Mode 2</option>
            <option id="mode-option-3" value="3">Mode 3</option>
            <option id="mode-option-4" value="4">Mode 4</option>
            <option id="mode-option-5" value="5">Mode 5</option>
            <option id="mode-option-6" value="6">Mode 6</option>
            <option id="mode-option-7" value="7">Mode 7</option>
            <option id="mode-option-8" value="8">Mode 8</option>
            <option id="mode-option-N">No Music</option>
            <option id="mode-option-F">F, Formulaic</option>
            <option id="mode-option-U">U, Uncertain</option>
            <option id="mode-option-R">R, Responsory (special)</option>
            <option id="mode-option-T">T, Chant in Transposition</option>
        </select>
            <% } else if (field === 'volpiano' || field === 'volpiano_literal') { %>
                <input type="text" class="form-control search-input field-<%= field %>"
                placeholder="1-" value="1-<%= query %>">
            <% } else { %>
        <input type="text" class="form-control search-input field-<%= field %>"
               placeholder="Search" value="<%= query %>">
        <% } %>
    </div>
</form>
<% if (field == 'volpiano' || field == 'volpiano_literal' ) { %>
    <a href="#" class="about-volpiano-modal-link" data-bs-toggle="modal" data-bs-target="#aboutVolModal" data-dismiss="modal"> About Volpiano </a>
<% } %>
