<!DOCTYPE html>
<html>
<head>
    <title>Cantus Ultimus</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/diva.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/diva.js"></script>
    <script src="/static/js/plugins/highlight.js"></script>
    <script src="/static/js/plugins/canvas.js"></script>

{#    <meta content='width=960, initial-scale=2' name='viewport'/>#}
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
    <script>
        if ($(window).width() < 880)
        {
            var window_width = $(window).width();
            $('meta[name=viewport]').attr('content','width=880, initial-scale=0.54');
        }
    </script>
</head>
<body>
    <div id="header-container">
        <div id="page-header" class="header"></div>
    </div>
    <div id="content-container" class="container-fluid">
{#        <hr/>#}
        <div id="page-content" class="row content">
            <div class="col-lg-12">
                <!-- Templates -->
                <div id="view-goes-here"></div>
                <div id="search-modal"></div>
            </div>
        </div>
    </div>

<!--Templates -->
<script type="text/template" id="header-template">
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="site-logo" class="navbar-brand" href="#">Cantus Ultimus</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right">  </ul>
    </div>
</nav>
</script>

<script type="text/template" id="concordance-collection-template">

</script>

<script type="text/template" id="alert-template">
<div class="alert alert-<%= role %>" role="alert"><%= content %></div>
</script>

<script type="text/template" id="top-menu-template">
{#<% _.forEach(items, function(item) { %>#}
<% for (var i = 0; i < items.length; i++) { %>
    <li id="top-menu-button-<%= i %>"<% if (items[i].active) { %> class="active" <% } if (items[i].tags) { %><%= items[i].tags %><% } %> ><a href="#"><%= items[i].name %></a></li>
<% }%>
</script>

<script type="text/template" id="index-template">
<div class="jumbotron">
    <h1>Hey, do you like chants?</h1>
    <p class="lead">If so, then we've got you covered!</p>
    <p><a id="manuscripts-hero-button" class="btn btn-lg btn-primary" href="#" role="button">Check out the manuscripts</a></p>
</div>
</script>

<script type="text/template" id="folios-template">
<h2>Folios</h2>
<% _.forEach(folios, function(folio) { %>
    <p>Folio: <%= folio.number %></p>
<% }); %>
</script>

<script type="text/template" id="folio-template">
<h3>Folio <%= number %></h3>
<div id="chant-list">
</div>
</script>

<script type="text/template" id="chant-collection-template">
<h4>Chants</h4>
<div class="panel-group" id="accordion">
<% _.forEach(chants, function(chant, index) { %>
    <div id="chant-<%= index %>"class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>">
                <%= chant.incipit %>
                </a>
            </h4>
        </div>
        <div id="collapse-<%= index %>" class="panel-collapse collapse <% if (index === unfoldedChant) { %>in<% } %>">
            <div class="panel-body">
            <% if (chant.marginalia) { %>
            <p><b>Marginalia:</b> <%= chant.marginalia %></p>
            <% } %>
            <% if (chant.sequence) { %>
            <p><b>Sequence: </b> <%= chant.sequence %></p>
            <% } %>
            <% if (chant.feast) { %>
            <p><b>Feast: </b> <%= chant.feast %></p>
            <% } %>
            <% if (chant.office) { %>
            <p><b>Office: </b> <%= chant.office %></p>
            <% } %>
            <% if (chant.genre) { %>
            <p><b>Genre: </b> <%= chant.genre %></p>
            <% } %>
            <% if (chant.lit_position) { %>
            <p><b>Lit Position: </b> <%= chant.lit_position %></p>
            <% } %>
            <% if (chant.mode) { %>
            <p><b>Mode: </b> <%= chant.mode %></p>
            <% } %>
            <% if (chant.differentia) { %>
            <p><b>Differentia: </b> <%= chant.differentia.replace('w', 'ω') %></p>
            <% } %>
            <% if (chant.finalis) { %>
            <p><b>Finalis: </b> <%= chant.finalis %></p>
            <% } %>
            <hr/>
            <h5>Full Text</h5>
            <%= chant.full_text %>
            <hr/>
            <% if (chant.volpiano) { %>
            <p class="volpiano"><%= chant.volpiano %></p>
            <hr/>
            <% } %>
            <h5>Concordances</h5>
            <ul>
            <% _.each(chant.concordances, function(concordance) { %>
                <li><%= concordance %></li>
            <% }); %>
            </ul>
            </div>
        </div>
    </div>
<% }); %>
</div>
</script>

<script type="text/template" id="empty-chant-collection-template">
<h4>Chants</h4>
<p>This folio does not contain musical data.</p>
</script>

<script type="text/template" id="modal-template">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><%= title %></h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="search-page-template">
<h1>Search</h1>
<div id="search"></div>
</script>

<script type="text/template" id="search-template">
{#<form role="search">#}
<div class="form-inline">
    <div class="form-group">
        <select class="form-control search-field">
            <option value="all">All Fields:</option>
            <option value="volpiano">Volpiano:</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control search-input" placeholder="Search" value="<%= query %>">
    </div>
</div>
{#  <button type="submit" class="btn btn-default search-button">Submit</button>#}
{#</form>#}
<div class="search-results"></div>
</script>

<script type="text/template" id="search-result-template">
<h3>Results</h3>
<table class="table table-striped">
<% if (results.length == 0) { %>
    No results.
<% } %>
<% for (var i = 0; i < results.length; i++) { %>
    <tr>
        <td><a href="#" class="search-result-<%= i %>"><%= results[i].name %></a></td>
        <td><%= results[i].model %></td>
        <% if (results[i].manuscript !== undefined) { %>
        <td><%= results[i].manuscript %></td>
        <% } else { %>
        <td></td>
        <% } %>
        <% if (results[i].folio !== undefined) { %>
        <td><%= results[i].folio %></td>
        <% } else { %>
        <td></td>
        <% } %>
    </tr>
<% } %>
</table>
<div class="pagination"></div>
</script>

<script type="text/template" id="search-notation-template">
<form class="form-inline" action="#">
    <div class="form-group">
        <select class="form-control search-field">
            <option value="pnames">PNames:</option>
            <option value="neumes">Neumes:</option>
        </select>
    </div>
    <div class="form-group">
        <input class="form-control query-input" placeholder="Notation">
    </div>
    <button class="btn btn-default notation-search-submit-buttom" type="submit">Search</button>
</form>

{#</form>#}
<div class="note-search-results"></div>
<div class="note-pagination"></div>
</script>

<script type="text/template" id="pagination-template">
<ul class="pagination">
    <li id="<%= name %>-page-back" <% if (currentPage <= 1) { %>class="disabled"<% } %> >
        <a href="#">&laquo;</a>
    </li>
    <% for (var page = startPage; page <= endPage; page++) { %>
    <li <% if (page == currentPage) { %>class="active"<% } %> >
        <a href="#" id="<%= name %>-page-<%= page %>"><%= page %></a>
    </li>
    <% } %>
    <li id="<%= name %>-page-forward" <% if (currentPage >= endPage) { %>class="disabled"<% } %> >
        <a href="#">&raquo;</a>
    </li>
</ul>
</script>

<script type="text/template" id="loading-bar-template">
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= completion %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= completion %>%;">
    <% if (label) { %>
    <%= label %>
    <% } %>
  </div>
</div>
</script>

<script type="text/template" id="manuscripts-page-template">
{#<ol class="breadcrumb">#}
{#  <li><a href="/">Home</a></li>#}
{#  <li><a href="/manuscripts/">Manuscripts</a></li>#}
{#</ol>#}
<h1>Manuscripts</h1>
<div class="manuscript-list">Loading...</div>
</script>

<script type="text/template" id="manuscript-collection-template">
<table class="table table-striped">
<tr>
    <th>Title</th>
    <th>Siglum</th>
    <th>Date</th>
    <th>Provenance</th>
    <th># Chants</th>
</tr>
<% for (var i = 0; i < manuscripts.length; i++) { %>
<tr>
    <td><a id="manuscript-list-<%= i %>" href="#" ><%= manuscripts[i].name %></a></td>
    <td><%= manuscripts[i].siglum %></td>
    <td><%= manuscripts[i].date %></td>
    <td><%= manuscripts[i].provenance %></td>
    <td><%= manuscripts[i].chant_count %></td>
</tr>
<% } %>
</table>
</script>

<script type="text/template" id="manuscript-template">
<div class="row">
    <div class="col-xs-8">
        <div class="row">
            <div id="diva-toolbar"></div>
        </div>
        <div class="row">
            <div id="diva-wrapper"></div>
        </div>
    </div>
    <div class="col-xs-4">
        <div id="manuscript-title-container" class="row">
            <div class="column-md-12">
                <h1 class="h3"><%= manuscript.name %></h1>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#manuscript-folio-pane" data-toggle="tab">Folio</a></li>
                    <li><a href="#manuscript-details-pane" data-toggle="tab">Manuscript Details</a></li>
                    <li><a href="#manuscript-search-pane" data-toggle="tab">Search Manuscript</a></li>
                </ul>
            </div>
        </div>
        <div id="manuscript-data-container" class="row">
            <div class="tab-pane col-md-12 active">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="manuscript-folio-pane" >
                        <div id="folio"></div>
                    </div>
                    <div class="tab-pane" id="manuscript-details-pane">
                        <h4>Siglum</h4>
                        <p><%= manuscript.siglum %></p>
                        <h4>Date</h4>
                        <p><%= manuscript.date %></p>
                        <h4>Provenance</h4>
                        <p><%= manuscript.provenance %></p>
                        <h4>Description</h4>
                        <p><%= manuscript.description %></p>
                    </div>
                    <div class="tab-pane" id="manuscript-search-pane">
                        <h3>Search this Manuscript</h3>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#text-search-container" role="tab" data-toggle="tab">Text Search</a></li>
                            <li><a href="#notation-search-container" role="tab" data-toggle="tab">Notation Search</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="text-search-container">
                                <div id="manuscript-search"></div>
                            </div>
                            <div class="tab-pane" id="notation-search-container">
                                <div id="search-notation"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

    <!--Load scripts last-->
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/cantus.js"></script>

    <script type="text/javascript" >
        $('#manuscript-data-container').on('touchstart', function(event){console.log("test");});
    </script>
</body>
</html>
