<!DOCTYPE html>
<html>
<head>
    <title>Cantus</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/diva.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/diva.min.js"></script>
</head>
<body>
    <div id="header-container" class="container-fluid">
        <div id="page-header" class="header"></div>
    </div>
    <div id="content-container" class="container-fluid">
{#        <hr/>#}
        <div id="page-content" class="row content">
                <div class="col-lg-12">
                    <!-- Templates -->
                    <div id="view-goes-here">Empty</div>
                    <div id="search-modal"></div>
                </div>
            </div>
        </div>
{#        <hr/>#}
{#        <div class="footer">#}
{#            <p>&copy; DDMAL 2014</p>#}
{#        </div>#}
    </div> <!-- /container -->

<!--Templates -->
<script type="text/template" id="header-template">
<ul id="top-menu" class="nav nav-pills pull-right">
</ul>
<h3 class="text-muted">Cantus Ultimus</h3>
</div>
</script>

<script type="text/template" id="concordance-collection-template">

</script>

<script type="text/template" id="top-menu-template">
<% _.forEach(items, function(item) { %>
    <li <% if (item.active) { %> class="active" <% } if (item.tags) { %><%= item.tags %><% } %>><a href="<%= item.url %>"><%= item.name %></a></li>
<% }); %>
</script>

<script type="text/template" id="index-template">
<div class="jumbotron">
    <h1>Hey, do you like chants?</h1>
    <p class="lead">If so, then we've got you covered!</p>
    <p><a class="btn btn-lg btn-success" href="/manuscripts/" role="button">Check out the manuscripts</a></p>
</div>
</script>

<script type="text/template" id="folios-template">
<h2>Folios</h2>
<% _.forEach(folios, function(folio) { %>
    <p>Folio: <%= folio.number %></p>
<% }); %>
</script>

<script type="text/template" id="folio-template">
<h3>Folio <%= number %></h3>
<div id="chant-list"></div>
</script>

<script type="text/template" id="chant-collection-template">

<div class="panel-group" id="accordion">
<% _.forEach(chants, function(chant, index) { %>
    <div id="chant-<%= index %>"class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>">
                <%= chant.incipit %>
                </a>
            </h4>
        </div>
        <div id="collapse-<%= index %>" class="panel-collapse collapse">
            <div class="panel-body">
            <% if (chant.marginalia) { %>
            <p><b>Marginalia:</b> <%= chant.marginalia %></p>
            <% } %>
            <% if (chant.sequence) { %>
            <p><b>Sequence: </b> <%= chant.sequence %></p>
            <% } %>
            <% if (chant.feast) { %>
            <p><b>Feast: </b> <%= chant.feast %></p>
            <% } %>
            <% if (chant.office) { %>
            <p><b>Office: </b> <%= chant.office %></p>
            <% } %>
            <% if (chant.genre) { %>
            <p><b>Genre: </b> <%= chant.genre %></p>
            <% } %>
            <% if (chant.lit_position) { %>
            <p><b>Lit Position: </b> <%= chant.lit_position %></p>
            <% } %>
            <% if (chant.mode) { %>
            <p><b>Mode: </b> <%= chant.mode %></p>
            <% } %>
            <% if (chant.differentia) { %>
            <p><b>Differentia: </b> <%= chant.differentia %></p>
            <% } %>
            <% if (chant.finalis) { %>
            <p><b>Finalis: </b> <%= chant.finalis %></p>
            <% } %>
            <hr/>
            <h5>Full Text</h5>
            <%= chant.full_text %>
            <hr/>
            <% if (chant.volpiano) { %>
            <p class="volpiano"><%= chant.volpiano %></p>
            <hr/>
            <% } %>
            <h5>Concordances</h5>
            <ul>
            <% _.each(chant.concordances, function(concordance) { %>
                <li><%= concordance %></li>
            <% }); %>
            </ul>
            </div>
        </div>
    </div>
<% }); %>
</div>
</script>

<script type="text/template" id="modal-template">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= title %></h4>
      </div>
      <div class="modal-body">
{#        <div id="modal-content"></div>#}
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="search-page-template">
<h1>Search</h1>
<div id="search"></div>
</script>

<script type="text/template" id="search-template">
{#<form role="search">#}
  <div class="form-group">
    <input type="text" class="form-control search-input" placeholder="Search" value="<%= query %>">
  </div>
{#  <button type="submit" class="btn btn-default search-button">Submit</button>#}
{#</form>#}
<div class="search-result"></div>
</script>

<script type="text/template" id="search-result-template">
<h3>Results</h3>
<ul>
<% _.forEach(results, function(item) { %>
{#    <% if (item.type == "cantusdata_manuscript") { %>#}
    <li><p><a href="<%= item.url %>" ><%= item.name %></a></p></li>
{#    <% } %>#}
<% }); %>
</ul>
<div class="pagination">Nope</div>
</script>

<script type="text/template" id="pagination-template">
<ul class="pagination">
    <li id="<%= name %>-page-back" <% if (currentPage <= 1) { %>class="disabled"<% } %> >
        <a href="#">&laquo;</a>
    </li>
    <% for (var page = startPage; page <= endPage; page++) { %>
    <li <% if (page == currentPage) { %>class="active"<% } %> >
        <a href="#" id="<%= name %>-page-<%= page %>"><%= page %></a>
    </li>
    <% } %>
    <li id="<%= name %>-page-forward" <% if (currentPage >= endPage) { %>class="disabled"<% } %> >
        <a href="#">&raquo;</a>
    </li>
</ul>
</script>

<script type="text/template" id="manuscripts-page-template">
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/manuscripts/">Manuscripts</a></li>
</ol>
<h1>Manuscripts</h1>
<div class="manuscript-list"></div>
</script>

<script type="text/template" id="manuscript-collection-template">
<% _.forEach(manuscripts, function(aManuscript) { %>
    <% if (aManuscript.chant_count > 0) { %>
    <p><a href="<%= aManuscript.url %>" ><%= aManuscript.name %></a></p>
    <% } %>
<% }); %>
</script>

<script type="text/template" id="manuscript-template">
{#<ol class="breadcrumb">#}
{#  <li><a href="/">Home</a></li>#}
{#  <li><a href="/manuscripts/">Manuscripts</a></li>#}
{#  <li><a href="<%= manuscript.url %>"><%= manuscript.name %></a></li>#}
{#</ol>#}
{#<div class="row">#}
{#    <div class="col-md-12">#}
{#        <h1><%= manuscript.name %></h1>#}
{#    </div>#}
{#</div>#}
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div id="diva-toolbar"></div>
        </div>
        <div class="row">
            <div id="diva-wrapper"></div>
        </div>
    </div>
    <div class="col-md-3 scrollable">
        <div id="folio"></div>
    </div>

    <div class="col-md-3 scrollable">
        <h1><%= manuscript.name %></h1>
        <div class="row">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Manuscript Details</a></li>
              <li><a href="#profile" data-toggle="tab">Search Manuscript</a></li>
            </ul>
        </div>
        <div class="row">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane col-md-12 active" id="home">
                    <h4>Siglum</h4>
                    <p><%= manuscript.siglum %></p>
                    <h4>Date</h4>
                    <p><%= manuscript.date %></p>
                    <h4>Provenance</h4>
                    <p><%= manuscript.provenance %></p>
                    <h4>Description</h4>
                    <p><%= manuscript.description %></p>
                </div>
                <div class="tab-pane col-md-12" id="profile">
                    <h3>Search this Manuscript</h3>
                    <div id="manuscript-search"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

    <!--Load scripts last-->
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/cantus.js"></script>

    <script type="text/javascript">

    function setContainerHeight() {
        $('#content-container').css("height",
                $(window).height() - $("#header-container").height() - 1);
    }

    function setScrollableHeight() {
        $('.scrollable').css("height", $("#content-container").height());
    }

    function setDivaHeight() {
        $('#diva-wrapper').css("height",
                $("#content-container").height() - 75);
    }

    // When the window is resized
    $(window).resize(function() {
        setContainerHeight();
        setScrollableHeight();
        setDivaHeight();
    });

    setTimeout(function(){
        setContainerHeight();
        setScrollableHeight();
        setDivaHeight();
    },1000);
    </script>
</body>
</html>
