<!DOCTYPE html>
<html>
<head>
    <title>Cantus</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/diva.css">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/diva.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/manuscripts/">Manuscripts</a></li>
{#            <li><a href="#">Contact</a></li>#}
            </ul>
            <h3 class="text-muted">Cantus Ultimus</h3>
        </div>
        <hr/>

        <div class="row content">
            <!-- Templates -->
            <div id="view-goes-here">Empty</div>

            <script type="text/template" id="index-template">
            <div class="jumbotron">
                <h1>Hey, do you like chants?</h1>
                <p class="lead">If so, then we've got you covered!</p>
                <p><a class="btn btn-lg btn-success" href="/manuscripts/" role="button">Check out the manuscripts</a></p>
            </div>
            </script>

            <script type="text/template" id="folios-template">
            <h2>Folios</h2>
            <% _.forEach(folios, function(folio) { %>
                <p>Folio: <%= folio.number %></p>
            <% }); %>
            </script>

            <script type="text/template" id="manuscripts-template">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="/manuscripts/">Manuscripts</a></li>
            </ol>
            <h1>Manuscripts</h1>
            <% _.forEach(manuscripts, function(aManuscript) { %>
                <p><a href="<%= aManuscript.url %>" ><%= aManuscript.name %></a></p>
            <% }); %>
            </script>
            <div id="diva-wrapper"></div>
            <script type="text/template" id="manuscript-template">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="/manuscripts/">Manuscripts</a></li>
              <li><a href="<%= manuscript.url %>"><%= manuscript.name %></a></li>
            </ol>
            <h1><%= manuscript.name %></h1>

            <hr/>
            <h3>Details</h3>
            <h4>Siglum</h4>
            <p><%= manuscript.siglum %></p>
            <h4>Date</h4>
            <p><%= manuscript.date %></p>
            <h4>Provenance</h4>
            <p><%= manuscript.provenance %></p>
            <h4>Description</h4>
            <p><%= manuscript.description %></p>
{#            <h4>Folio Set</h4>#}
{#            <p>Folio_set:</p>#}
{#            <ul>#}
{#            <% _.forEach(manuscript.folio_set, function(aFolio) { %>#}
{#                <p><a href="<%= aFolio.url %>" ><%= aFolio.name %></a></p>#}
{#            <% }); %>#}
{#            </ul>#}
            </script>
        </div>
        <hr/>
        <div class="footer">
            <p>&copy; DDMAL 2014</p>
        </div>

    </div> <!-- /container -->
    <!--Load scripts first-->
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/cantus.js"></script>

</body>
</html>
