<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cantus Ultimus</title>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en_US" />

    <link rel="stylesheet" href="/static/css/cantus.min.css">

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
</head>
<body>
    <div id="menu-sidenav"></div>

    <div id="header-container">
        <div id="page-header" class="header"></div>
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>
