<div class="manuscript-info">
    <h3 class="h4"><%- name %></h3>

    <dl>
        <dt>Siglum</dt>
        <dd><%= siglum %></dd>
        <dt>Date</dt>
        <dd><%= date %></dd>
        <dt>Provenance</dt>
        <dd><%= provenance %></dd>
        <% if (description) { %>
        <dt>Description</dt>
        <dd><pre class="preformatted-text"><%= description %></pre></dd>
        <% } %>
    </dl>

    <% if (imageAttribution || imageLicence || imageLogoUrl) { %>
        <h3 class="h4">Image Rights</h3>
        <% if (imageAttribution ) { %>
            <div>
            <%= imageAttribution %></dd>
            </div>
        <% } %>
        <% if (imageLogoUrl) { %>
            <div>
            <img src="<%= imageLogoUrl %>" alt="Logo of the image source institution" style="max-width: 300px; max-height: 100px; margin-top: 8px; margin-bottom: 8px;"/>
            </div>
        <% } %>
        <% if (imageLicence) { %>
            <div>
            <a href="<%= imageLicence %>" target="_blank">Click for licence information.</a>
        </div>
        <% } %>
    <% } %>

</div>
