<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>
            {% block document_title %}Cantus Ultimus{% endblock %}
        </title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Language" content="en_US" />
        {# Replace .no-js with .js before loading the CSS #}
        <script>
        (function (html)
        {
            html.className = html.className.replace(/\bno-js\b/g, 'js');
        })(document.documentElement);
        </script>
        <link rel="stylesheet" type="text/css" href="/static/css/cantus-min.css" />
        {% block head %}{% endblock %}
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico" />
    </head>
    <body>
        <div id="menu-sidenav"></div>
        <div id="header-container">
            <div id="page-header">
                <nav class="navbar navbar-default navbar-expand-lg bg-dark"
                     data-bs-theme="dark"
                     role="navigation">
                    <div class="container-fluid justify-content-start align-items-stretch">
                        <button class="navbar-toggler py-3"
                                type="button"
                                aria-controls="top-menu"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-brand py-3">
                            <a class="primary-brand-component" href="/">Cantus Ultimus (v{{ APP_VERSION }})</a><!-- no space--><span id="page-title">
                                {% block breadcrumb %}{% endblock %}
                            </span>
                        </div>
                        <div class="collapse navbar-collapse navbar-nav justify-content-end align-items-stretch"
                             id="top-menu">
                            <a class="nav-link py-3" href="/manuscripts/">Manuscripts</a>
                            {% if IS_DEVELOPMENT %}
                                <a class="nav-link py-3" href="/manifests/">IIIF Manifests</a>
                            {% endif %}
                            <a class="nav-link py-3" href="/about/">About</a>
                            <a class="nav-link py-3" href="/activities/">Activities</a>
                            <a class="nav-link py-3" href="/team/">Team</a>
                            <a class="nav-link py-3" data-bs-toggle="modal" href="#searchModal">Search</a>
                            <a class="nav-link py-3" href="/admin/">Admin Page</a>
                        </div>
                    </div>
                </nav>
                <div id="search-modal"></div>
                <div id="about-volpiano-modal"></div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
