<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>
        {% block document_title %}Cantus Ultimus{% endblock %}
    </title>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en_US" />

    {# Replace .no-js with .js before loading the CSS #}
    <script>
        (function (html)
        {
            html.className = html.className.replace(/\bno-js\b/g, 'js');
        })(document.documentElement);
    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/cantus-min.css">

    {% block head %}
    {% endblock %}

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
</head>
<body>
    <div id="menu-sidenav"></div>

    <div id="header-container">
        <div id="page-header">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <a class="primary-brand-component" href="/">Cantus Ultimus (v{{ APP_VERSION }})</span></a><!-- no space
                         --><span id="page-title">{% block breadcrumb %}{% endblock %}</span>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="top-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="font-weight:bold; font-size:larger" href="/manuscripts/">Manuscripts</a></li>
                            {% if IS_DEVELOPMENT %}
                            <li><a href="/manifests/">IIIF Manifests</a></li>
                            {% endif %}
                            <li><a href="/about/">About</a></li>
                            <li><a href="/activities/">Activities</a></li>
                            <li><a href="/team/">Team</a></li>
                            <li><a href="/search/" class="search-modal-link">Search</a></li>
                            <li><a href="/admin/">Admin Page</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="search-modal"></div>
        </div>
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>
