<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>
        {% block document_title %}Cantus Ultimus{% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en_US" />

    {# Replace .no-js with .js before loading the CSS #}
    <script>
        (function (html)
        {
            html.className = html.className.replace(/\bno-js\b/g, 'js');
        })(document.documentElement);
    </script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    {% block head %}
    {% endblock %}

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
</head>
<body>
    <div id="header-container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="--bs-breadcrumb-divider: '>';" >
            <div class="container-fluid">
                <ol class="breadcrumb" style="--bs-breadcrumb-margin-bottom: '0'; --bs-breadcrumb-divider-color: var(--bs-navbar-brand-color);">
                {% block breadcrumb %}
                    <li class="breadcrumb-item d-flex align-items-bottom"><a class="navbar-brand me-1" href="/">Cantus Ultimus</a><span class="text-light" style="font-size: .5rem">(v{{ APP_VERSION }})</span></li>
                {% endblock %}
                </ol>
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a class="btn btn-dark text-light" href="/manifests/">IIIF Manifests</a></li>
                    <li class="nav-item"><a class="btn btn-dark text-light" href="/about/">About</a></li>
                    <li class="nav-item"><a class="btn btn-dark text-light" href="/activities/">Activities</a></li>
                    <li class="nav-item"><a class="btn btn-dark text-light" href="/team/">Team</a></li>
                    <li class="nav-item"><a class="btn btn-dark text-light" href="/manuscripts/">Manuscripts</a></li>
                    <li class="nav-item"><a class="btn btn-dark text-light" href="/search/" class="search-modal-link">Search</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                {% block body %}
                {% endblock %}
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>

</body>
</html>
