<td>
    <div>
        <div>
            <a href="<%= url %>">
            <%- short_name %><!--
         --></a>
            <% if (cantus_url) { %>
            <a href="<%= cantus_url %>" target="_blank" data-bs-toggle="tooltip" title="Cantus Database">
                <span class="text-muted small">➦</span>
            </a>
            <% } %>
        </div>
        <div>
            <small><%- name %></small>
        </div>
    </div>
</td>
<td><%- date %></td>
<td>
    <% if (folio_count) { %>
    <%- folio_count %>
    <% } %>
</td>
<td>
    <% if (chant_count) { %>
    <%- chant_count %>
    <% } %>
</td>
